{% extends 'aplicacion/base.html' %}

{% load static %}

 
{% block titulo %}

{% endblock titulo %}


{% block contenido %}

<h1 class="text-center">
    
    <h2 class="text-white">Bienvenido al sistema de adminsitración de informes empresariales.</h2>
    <p class="text-white font-italic">
    Esta herramienta permite la administración de un repositorio de informes asociado con su respectivo 
    equipo responsable y tipo.
    Le permitirá eliminar, buscar y modificar los infomes disponibles en la empresa bajo una base de datos ordenada. 
    </p>
</h1>

{% endblock contenido %}