{% extends 'aplicacion/base.html' %}
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login | Codepen</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../../static/aplicacion/css/login.css">
</head>

<body style="background: #6a11cb;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Preentrega 3</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'registrar_informes' %}">Registro_Informe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'consultar_informes' %}">Consulta_Informe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>

  {% block titulo %}
    <h1 class="text-center p-3 mb-2 bg-gradient-primary text-white">Home</h1>
  {% endblock titulo %}
    <h4 class="text-center p-3 mb-2 bg-gradient-primary text-white">Informes Diponibles</h4>
  {% block contenido %}

  {% endblock contenido %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>