{% extends 'aplicacion/base.html' %}

{% load static %}

{% block titulo %}Informes{% endblock titulo %}

 

{% block contenido %}

<body style="background: #6a11cb;">
    <div class="form-outline mb-4" style="height: 695px;">
        <form action="" method="post">
            {% csrf_token %}
            <table class="text-white">
                {{ form.as_table }}
            </table>
            <input type="submit" value="Enviar">
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

{% endblock contenido %}