{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
<h1 class="text-center p-3 mb-2 bg-gradient-primary text-white">Sobre mí</h1>
{% endblock titulo %}


{% block contenido %}

    <div class="align-items-center">
        <p class="lead text-light">
            Mi nombre es Johandre Vargas, soy ingeniero electricista de profesión, pero a lo largo de mi carrera, mi experiencia me ha llevado a estar muy ligado al tema de los datos, desde el uso de bases de datos pasando por el análisis de datos y pronóstico a través de modelos hasta el diseño de informes interactivos.
            Soy colombiano, tengo 33 años y este curso de Python lo hice con el fin de afianzar mis conocimientos en programación, aunque realmente superó mis expectativas gratamente.
            Actualmente trabajo en una generadora de energía en Colombia y todo lo aprendido lo utilizaré para diseñar un repositorio interactivo con las principales variables del mercado de energía, que permita a los directivos estar enterados en todo momento como evoluciona el sistema eléctrico nacional.
        </p>
        <a href="https://www.linkedin.com/in/johandre-vargas-mejia/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
        <a href="https://github.com/johandrevargas" target="_blank"> <i class="fa-brands fa-square-github fa-2xl"></i></a>
    </div>

{% endblock contenido %}
